@import './base.css';

.friend_menu {
    display: flex;
    margin-left: 65%;
    margin-top: 25%;
    width: 15%;
    height: 20%;
    background-color: rgb(34, 34, 36);
    border-color: transparent;
    font-size: 100%;
    color: black;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    flex-direction: column;
}

.channel_menu {
    display: flex;
    margin-left: 65%;
    margin-top: 27%;
    width: 10%;
    height: 25%;
    background-color: rgb(34, 34, 36);
    border-color: transparent;
    font-size: 100%;
    color: black;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    flex-direction: column;
}

.close_menu {
    display: flex;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    color: red;
    align-items: center;
    justify-content: center;
}

.elements_menu {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    color : beige;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.elements_menu:hover {
    background-color: rgb(21, 21, 87);
}

.borders_div {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 8fr 4fr;
    position: absolute;
    background-color: transparent;
}

.borders_right {
    display: grid;
    position: relative;
    height: 100vh;
    grid-column: 3;
    grid-row: 1;
    grid-template-rows: 1fr 7fr;
    background-color: transparent;
    /* background-color: red; */
    /* overflow: hidden; */
}

.border_right_bottom {
    display: grid;
    grid-row: 2;
    position: relative;
    border-radius: 10px 0px 0px 0px;
    background-color: #2e2e2e;
    /* background-color: red; */
    grid-template-rows: 2fr 1fr 10fr;
    /* box-shadow: inset 20px 20px 20px rgb(54, 54, 54); */
    /* overflow: hidden; */
}

.border_right_bottom_one {
    display: grid;
    grid-row: 1;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;

}
.border_right_bottom_one_left {
    display: flex;
    grid-column: 1;
    justify-content: center;
    align-items: center;
}

.border_right_bottom_one_right {
    display: flex;
    grid-column: 2;
    justify-content: center;
    align-items: center;
}

.border_right_bottom_two {
    display: flex;
    grid-row: 2;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.border_right_bottom_three {
    display: flex;
    grid-row: 3;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.border_right_top {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(90deg,  transparent, rgb(7, 46, 138) 100%);
}

.border_right_top_right {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    color: #818a96;
    margin-left: 10%;
}

.border_right_top_left {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    font-size: 160%;
    color: #818a96;
    margin-left: 15%;

}

.routers_profile {
    display: flex;
    color: #dcdddd;
    background-color: transparent;
    justify-content: flex-start;
}

.routers_profile:hover {
    background-color: transparent;
    color: #dcdddd;
}

.borders_middle {
    display: grid;
    grid-column: 2;
    height: 100%;
    grid-template-rows: 1fr 1fr 18fr;
    background-color: transparent;
}

.border_middle_top {
    display: grid;
    grid-row: 1;
    background-color: transparent;
    grid-template-columns: 1fr 12fr;

}

.border_middle_two {
    display: flex;
    grid-row: 2;
    margin-left: 10%;
    align-items: center;
}

.border_middle_top_left {
    display: flex;
    grid-column: 1;
    background-color: rgb(31, 31, 31);
    justify-content: center;
    align-items: center;
    font-size: 220%;
    color: #cdc6d3;
}

.border_middle_top_right {
    display: flex;
    grid-column: 2;
    height: 100%;
    background: linear-gradient(90deg, rgb(31, 31, 31),  transparent 80%);
    align-items: center;
    justify-content: flex-start;
}

.borders_left {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f1f1f;
    font-size: 300%;
}

.placeholder_search {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    margin-left: 1%;
    font-size: 130%;
    font-weight: bold;
}

.placeholder_search:focus {
    outline: none;
}

.icons_border_left {
    display: flex;
    width: 100%;
    height: 8%;
    justify-content: center;
    align-items: center;
    color: #d6d6d6;
}

.icons_border_left_request {
    align-items: center;
    color: #d6d6d6;
}

.icons_border_left_request:hover {
    scale: 1.1;
    background-color: transparent;
    color: #8872c5;
}

.icons_border_left:hover {
    background-color: transparent;
    color: rgb(142, 114, 177);
}

.button_channel_friends {
    background-color: transparent;
    border-color: transparent;
    color: rgba(121, 132, 146, 0.836);
    font-size: 250%;
    font-weight: bold;
}

.button_channel_friends:hover {
    scale: 1.1;
}

.button_channel_friends_ok {
    background-color: transparent;
    border-color: transparent;
    color: rgba(148, 154, 233, 0.836);
    font-size: 250%;
    font-weight: bold;
    border-bottom: 2px solid

}

.placeholder_search_friends {
    display: flex;
    width: 90%;
    height: 80%;
    font-size: 150%;
    border: 2px solid rgb(56, 56, 56);
    background-color: rgba(184, 172, 235, 0.295);
    border-radius: 10px 10px 10px 10px;
}

.friends_usernames {
    display: flex;
    margin-top: 8%;
    font-size: 170%;
    font-weight: bold;
    color: #d1d1d1;
    background-color: transparent;
    border: transparent;
    align-items: center;
}

.friends_usernames:hover {
    scale: 1.1;
    color: #8872c5;
}

.img_border {
    display: flex;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.img_border:hover {
    scale: 1.05;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: #0e141d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(84, 97, 122, 0.452);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 75, 105);
}

.msg_error_search_user {
    display: flex;
    flex-direction: row;
    font-size: 110%;
    align-self: flex-start;
    color: red;
}

.msg_user_exist {
    display: flex;
    flex-direction: row;
    width: 15%;
    font-size: 150%;
    background-color: rgb(231, 231, 231);
    border-radius: 2px 2px 2px 2px;
    justify-content: center;
    color: rgb(101, 87, 124);
    font-weight: bold;
}

.msg_user_exist:hover {
    background-color: rgb(196, 196, 197);
}

.no_friends {
    display: flex;
    justify-content: center;
    font-size: 250%;
    color: #485058;
}

.connected {
    display: flex;
    color: green;
    font-size: 70%;
    margin-top: 7%;
    margin-left: 10px;
}

.not_connected {
    display: flex;
    color: red;
    font-size: 70%;
    margin-top: 7%;
    margin-left: 10px;
}

.create_channel {
    display: flex;
    margin-top: 350px;
    width: 90%;
    height: 250%;
    font-size: 70%;

    position: absolute;
    z-index: 1;
    background-color: rgb(101, 101, 102);
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3d365c;
}

.button_yes {
    display: flex;
    background-color: rgb(0, 153, 0);
    font-size: 150%;
    border-radius: 10px 10px 10px 10px;
    border-color: transparent;
    color: rgb(85, 84, 88);
}

.button_no {
    display: flex;
    background-color: rgb(177, 44, 44);
    font-size: 150%;
    border-radius: 10px 10px 10px 10px;
    border-color: transparent;
    color: rgb(41, 41, 43);
}

.button_yes:hover {
    scale: 1.1;
}

.button_no:hover {
    scale: 1.1;
}

.yes_no {
    display: flex;
    width: 100%;
    margin-top: 1vw;
    justify-content: space-evenly;
}

.request_icon {
    display: flex;

    color: rgb(202, 38, 38);
    font-size: 45%;
    justify-self: flex-start;
    margin-top: 25px;
    align-self: flex-start;
}
