@import './base.css';

.chat_name {
    display: flex;
    width: 20%;
    /* background-color: red; */
    margin-left: 20px;
    grid-column: 2;
    font-weight: bolder;
    font-size: 250%;
    /* color: rgb(29, 29, 29); */
    color: rgb(221, 221, 221);
}

.chat_name:hover {
    scale: 1.1;
    background-color: transparent;
}

.chat_div_test {
    display: grid;
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    grid-template-rows: 1fr 13fr 1fr;
    border-radius: 10px 10px 10px 10px;
    /* background-color: rgba(75, 82, 104, 0.377); */
    /* background-color: red; */
    /* overflow: hidden; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    /* background-color: rgba(57, 50, 99, 0.185); */
}

.scroll {
    display: grid;
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    grid-template-rows: 1fr 60fr 1fr;
    border-radius: 10px 10px 10px 10px;
    /* background-color: rgba(75, 82, 104, 0.377); */
    /* background-color: red; */
    /* overflow: hidden; */
    /* overflow: hidden; */
    transform: rotate(180deg);
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.chat_top_test {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 12fr;
    /* background-color: rgba(37, 53, 107, 0.452); */
    /* background-color: rgba(20, 51, 153, 0.596); */
    background-color: rgb(123, 89, 163);
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    color: rgb(31, 31, 31);
    border-bottom: 2px solid rgba(186, 189, 216, 0.897);
    /* overflow: hidden; */
}

.chat_bottom_test {
    display: grid;
    grid-row: 3;
    grid-template-columns: 1fr 12fr 2fr;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    /* background-color: rgba(37, 53, 107, 0.452); */
    /* background-color: rgba(20, 51, 153, 0.596); */
    background-color: rgb(123, 89, 163);
    /* overflow: hidden; */
    /* background-color: blue; */
}

.chat_msg_div {
    display: flex;
    width: 100%;
    height: 100%;
    grid-row: 2;



    justify-content: flex-start;





    /* ca marche presque */
    justify-content: flex-end;
    /* transform: rotate(180deg); */
    flex-direction: column-reverse;
    
    
    
    
    /* align-items: flex-start; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* justify-content: flex-end; */



    /* overflow-y: scroll; */
    
    
    
    /* flex-direction: column; */
    /* transform: rotate(180deg); */

    /* background-color: blue; */
}

.logo_chat_profile_test {
    display:flex;
    grid-column: 1;
    margin-left: 20%;
    width: 50px;
    font-size: 250%;
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
    justify-self: center;
    /* color: rgb(31, 31, 31); */
    /* color: rgb(128, 127, 127); */
    color: rgb(221, 221, 221);
}

.logo_chat_test {
    display:flex;
    grid-column: 1;
    margin-left: 25%;
    width: 50px;
    font-size: 200%;
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
    justify-self: center;
    /* color: rgb(31, 31, 31); */
    color: rgb(221, 221, 221);
}

.type_msg_test {
    display:flex;
    /* grid-column: 2; */
    font-size: 130%;
    /* width: 100%; */
    /* height: 100%; */
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
    /* color: rgb(31, 31, 31); */
    color: rgb(221, 221, 221);
    /* justify-self: flex-start; */
    /* background-color: red; */
    justify-content: flex-start;
    justify-self: flex-start;
}

.type_msg {
    display:flex;
    height: 100%;
    width: 100%;
    grid-column: 2;
    /* font-size: 100%; */
    /* background-color: transparent; */
    /* border-color: transparent; */
    /* font-weight: bolder; */
    /* color: rgb(31, 31, 31); */
    justify-content: flex-start;
    align-items: center;
    /* background-color: green; */
}

.type_msg_test:focus {
    outline: 0px solid transparent;
}

/* .msg_me {
    display: flex;
    width: 100%;
    grid-row: 1;
    grid-column: 2/4;
    align-items: flex-end;
    flex-direction: column;
} */

/* .msg_user {
    display: flex;
    grid-row: 1;
    grid-column: 1/3;
    align-items: flex-start;
    flex-direction: column;
    background-color: red;
} */

.msg_user_test {
    display: flex;
    font-size: 170%;
    margin-top: 5px;
    /* margin-left: 15px; */
    /* padding: 10px; */
    /* background-color: rgb(78, 83, 94); */
    border-radius: 20px 20px 20px 0px;
    flex-direction: column;
    /* margin-right: auto; */
    color: rgba(255, 255, 255, 0.904);

    /* ca marche presque */
    transform: rotate(180deg);
    margin-left: auto;

    /* background-color: red; */
}

.msg_user_testt {
    /* background-color: rgb(78, 83, 94); */
    background-color: rgb(111, 109, 114);
    border-radius: 20px 20px 20px 0px;
    padding: 10px;
    
}

.msg_user_testt:hover {
    /* background-color: rgb(78, 83, 94); */
    background-color: rgb(111, 109, 114);
    border-radius: 20px 20px 20px 0px;
    padding: 10px;
}

.msg_form {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    /* width: 90%; */
    /* background-color: green; */
    /* height: 60px; */
    /* grid-column: 1/5; */
    flex-direction: column;
    /* transform: rotate(180deg); */
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    word-break: break-all;
    /* overflow-y: scroll; */
    /* justify-self: flex-end; */
}






.test_msg {
    display: flex;
    /* width: 95%; */
    font-size: 170%;
    margin-top: 5px;
    /* margin-right: 15px; */
    /* margin-left: 15px; */
    /* margin-left: auto; */
    /* margin-left: auto; */
    padding: 10px;
    /* padding-left: 150px; */
    /* background-color: rgb(26, 72, 172); */
    background-color: rgb(139, 108, 165);
    border-radius: 20px 20px 0px 20px;
    /* justify-content: flex-end; */
    /* justify-self: flex-start; */
    /* flex-direction: column; */
    /* align-items: flex-end; */
    color: rgba(255, 255, 255, 0.904);
    transform: rotate(180deg);
    margin-right: auto;
}

.test_msg:hover {
    display: flex;
    font-size: 170%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
    justify-content: flex-end;
    justify-self: flex-start;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.904);
}

.username_msg {
    display: flex;
    font-size: 65%;
    font-weight: bold;
    color: rgb(119, 119, 119);
}

.profile_picture_img_chat {
    margin: 5px;
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.invite_friend {
    display: flex;

    background-color: rgb(225, 222, 228);
    font-size: 130%;
    padding: 8%;
    border-radius: 8px;
    border-color: transparent;
}

.invite_friend:hover {
    scale: 0.97;
    background-color: rgb(186, 179, 192);
}

.invitation {
    display:flex;
    height: 100%;
    width: 100%;
    grid-column: 3;
    justify-content: center;
    align-items: center;

}
