@import './base.css';

.infos {
    display: grid;
    grid-template-rows: 3fr 5fr 3fr;
    width: 100%;
}

.infos::-webkit-scrollbar {
    display: none;
}

.channel_name_infos {
    display: flex;

    height: 100%;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 200%;
    color: rgb(226, 226, 226);
}

.members {
    display: flex;

    font-size: 90%;
    color: rgb(175, 175, 175);
}

.user_list_infos {
    display: flex;

    width: 45vw;
    grid-row: 2;
    padding-top: 20px;
    align-items: center;
    justify-self: center;
    background-color: rgb(72, 59, 133);
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    overflow: scroll;
}

.user_list_infos::-webkit-scrollbar {
    display: none;
}

.admin {
    display: flex;

    margin-top: 10%;
    font-size: 290%;
    color: rgb(196, 147, 243);
    background-color: transparent;
    border-color: transparent;
    margin-right: 7%;
}

.admin:hover {
    background-color: transparent;
    border-radius: 15px 15px 15px 15px;
    scale: 1.1;
}

.not_admin {
    display: flex;

    margin-top: 10%;
    font-size: 290%;
    color: rgb(168, 168, 236);
    background-color: transparent;
    border-color: transparent;
    margin-right: 7%;
}

.not_admin:hover {
    background-color: transparent;
    border-radius: 15px 15px 15px 15px;
    scale: 1.1;
}

.private_public {
    display: flex;
    grid-row: 3;

    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 150%;
    width: 100%;
}

.public_button {
    display: flex;
    padding: 20px;
    font-size: 130%;
    border-radius: 15px;
    border-color: transparent;
    background-color: rgb(172, 137, 212);
    color: rgb(240, 240, 241);
}

.public_button:hover {
    scale: 1.1;
}

.div_pw {
    display: flex;
    flex-direction: column;
}

.remove_pw_button {
    display: flex;
    padding: 10px;
    font-size: 90%;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 10px;
    background-color: rgb(118, 105, 133);
    color: rgb(247, 247, 247);
}

.remove_pw_button:hover {
    scale: 0.97;
    background-color: rgb(95, 85, 107);
}

.set_password {
    display: flex;
    background-color: rgba(164, 160, 173, 0.658);
    font-size: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.664);
}

.admin_info {
    display: flex;
    font-size: 150%;
    align-items: center;
    margin-top: 17%;
    background-color: transparent;
    border-color: transparent;
    margin-left: 7%;
    color: rgb(139, 139, 139);
}


.main_public_channel {
    display: flex;
    height: 85vh;
    padding-top: 50px;
    background-color: rgba(31, 3, 83, 0.781);
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 33%;
    border-radius: 10px 10px 10px 10px;
    overflow-y: scroll;
    flex-direction: column;
}

.main_public_channel::-webkit-scrollbar {
    display: none;
}

.list_channels {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.channel_public {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(193, 200, 211);
    width: 50%;
    height: 100px;
    background-color: rgb(123, 89, 163);
    font-size: 250%;
    border-radius: 10px 10px 10px 10px;
    border-color: transparent;
}

.channel_public:hover {
    background-color: rgb(93, 45, 148);
}

.no_public_channel {
    display: flex;
    font-size: 250%;
    color: rgb(220, 224, 230);
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.joinChannelMsg {
    position: absolute;
    z-index: 1;
    background-color: rgba(7, 7, 7, 0.363);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.joinChannelMsg2 {
    position: absolute;
    display: flex;
    background-color: rgb(78, 81, 99);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35%;
    margin-left: 20%;
    width: 60%;
    height: 25%;
    font-size: 90%; 
}

#button_join_channel_yes {
    background-color: rgb(15, 170, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin-top: 2%;
    width: 9%;
    height: 30%;
}

#button_join_channel_no {
    width: 9%;
    height: 30%;
    background-color: rgb(197, 26, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin-top: 2%;
}

.admin_access {
    display: flex;
    justify-content: center;
    
}

.button_admin {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px 15px 15px 15px;
    width: auto;
    height: 40px;
    margin-left: 2%;
    margin-top: 15%;
    font-size: 200%;
    border-color: transparent;
}

.button_admin:hover {
    scale: 1.1;
    color: rgb(114, 114, 168);
}

.placeholder_password {
    width: 50%;
    background-color: rgba(132, 99, 158, 0.171);
    border: 2px solid rgb(104, 90, 129);
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 20px;
    padding: 5px;
    font-size: 150%;
    font-weight: bold;
    justify-self: center;
}