@import './base.css';

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  background-image: url("./background25.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-height: 650px) and (min-width: 1080px) {
  body {
    display: flex;
    place-items: center;
    font-size: 8px;
  }
  
  .main_page_top {
    grid-template-columns: 1fr 1fr;
    /* margin: 0; */
  }

  .main_page_top_right {
    /* display: flex; */
    grid-column: 2;
    margin-left: 10%;
    justify-content: flex-start;
    align-items: flex-end;
}

.main_page_top_left {
  justify-content: flex-end;
  align-items: flex-end;
}

  #app {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0 2rem; */
  }
}

@media (min-height: 650px) and (min-width: 1080px) {
  body {
    display: flex;
    place-items: center;
    font-size: 15px;
  }
  
  .main_page_top {
    grid-template-columns: 1fr 1fr;
    /* margin: 0; */
  }

  .main_page_top_right {
    /* display: flex; */
    grid-column: 2;
    margin-left: 10%;
    justify-content: flex-start;
    align-items: flex-end;
}

.main_page_top_left {
  justify-content: flex-end;
  align-items: flex-end;
}

  #app {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0 2rem; */
  }
}

@media (575px <= width <= 1080px) {
  body {
    display: flex;
    place-items: center;
    font-size: 8px;
  }

  .main_page_top {
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    /* margin: 0; */
    /* align-items: center; */
  }

  .main_page_top_right {
    /* display: flex; */
    grid-column: 2;
    margin-left: 10%;
    justify-content: flex-start;
    align-items: flex-end;
}

.main_page_top_left {
    justify-content: flex-end;
    align-items: flex-end;
}

  #app {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0 2rem; */
  }

  .channel_public {
    height: 60px !important;
  }
}

@media (max-width: 575px) {
  body {
    display: flex;
    place-items: center;
    font-size: 5px;
  }

  .main_div {
    margin-right: 0;
  }

  .main_page_bottom {
    margin-bottom: 60% !important;
}

  .main_page_top {
    display: flex;
    grid-template-columns: 1fr;
    /* grid-row: 2; */
    /* grid-template-rows: 1fr 1fr; */
    justify-content: center;
    margin: 0 !important;
    margin-top: 10% !important;
    align-items: center;
  }

  .main_page_top_right {
    /* display: flex; */
    /* grid-column: 1; */
    /* margin-left: 10%; */
    margin-left: 0 !important;
    justify-content: center;
    align-items: flex-end;
}

.main_page_top_left {
  margin-right: 0 !important;
  justify-content: center;
  align-items: flex-end;
}

.main_page_stats {
  height: 100% !important;
}

  #app {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0 2rem; */
  }

  .channel_public {
    height: 40px !important;
  }
}

li {
  list-style-type: none;
}
