@import './base.css';

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  /* background: linear-gradient(60deg, hsla(160, 100%, 40%, 0.3),  hsla(10, 100%, 37%, 0.22) 75%); */
  /* background: linear-gradient(60deg, hsl(231, 83%, 23%),  hsla(268, 91%, 34%, 0.507) 100%); */
  /* background: hsla(0, 0%, 10%, 0.274); */
  /* background: linear-gradient(0deg, hsl(240, 93%, 6%),  hsl(247, 62%, 74%) 180%); */
  /* background: linear-gradient(0deg, hsl(240, 3%, 7%),  hsl(260, 1%, 51%) 180%); */
  /* background-color: rgb(180, 180, 180); */

  background-color: #272727;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0 2rem; */
  }
}

li {
  list-style-type: none;
}
