@import './base.css';

.div_button {
	position: relative;
	display: flex;
    width: 95%;
    height: 20%;
    margin: 3%;
    border-radius: 8px 8px 8px 8px;
    justify-content: bottom;
    align-items: bottom;
}

.ready_button {
    width: 50%;
    font-size: 300%;
    color: rgb(221, 221, 221);
    background-color: rgb(123, 89, 163);
    border-color: transparent;
    border-radius: 8px 8px 8px 8px;
    transform-origin: 50% 65%;
    transition: transform 0.6s, filter 3s ease-in-out;
}

.ready_button:hover {
    background-color: rgb(123, 89, 163);
    border-color: transparent;
    font-weight: bold;
    transform: scale(1.1);
}