@import './base.css';

.profile_div {
    display: grid;
    grid-template-rows: 4fr 1fr 2fr 3fr;
    width: 100%;
    height: 100%;
}

.profile_picture {
    display: flex;
    grid-row: 1;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.profile_username {
    display: flex;
    grid-row: 2;
    width: 50%;
    height: 50%;
    justify-content: flex-end;
    align-items: center;
}

.profile_two {
    display: flex;
    grid-row: 2;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.profile_three {
    display: flex;
    grid-row: 3;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.profile_bottom {
    display: flex;
    grid-row: 4;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(220, 214, 228);
}

.profile_picture_button {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(128, 128, 128);
    border-color: transparent;
    background-color: transparent;

}

.profile_picture_button:hover {
    scale: 1.02;
}

.profile_change_username {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 230px;
    font-size: 180%;
    background-color: rgb(35, 19, 102);
    border: 2px solid hsl(256, 17%, 37%);
    border-radius: 5px 5px 5px 5px;
}

.profile_user {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 350%;
    font-weight: bold;
    color: rgb(221, 221, 221);
}

.img_profile {
    width: 100%;
    border-radius: 50%;
}

.button_access_profile {
    display: flex;
    font-size: 350%;
    padding: 5%;
    width: 15vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(123, 89, 163);
    border-color: transparent;
    color: rgb(221, 221, 221);
    transform-origin: 50% 65%;
    transition: transform 0.6s, filter 3s ease-in-out;
}

.button_access_profile:hover {
    background-color: rgb(123, 89, 163);
    transform: scale(1.1);
}

.button_add_friend {
    display: flex;
    background-color: rgb(162, 158, 177);
    font-size: 150%;
    border-radius: 8px 8px 8px 8px;
    margin-right: 20px;
    align-self: center;
    border-color: transparent;
}

.button_add_friend:hover {
    background-color: rgb(166, 143, 187);
    scale: 1.1;
}

.button_block_friend {
    display: flex;
    margin-left: 20px;
    background-color: rgb(162, 158, 177);
    font-size: 150%;
    border-radius: 8px 8px 8px 8px;
    align-self: center;
    border-color: transparent;
}

.button_block_friend:hover {
    background-color: rgb(166, 143, 187);
    scale: 1.1;
}

.profile_picture_img
{
    width: 13vw; /* Spécifiez la largeur souhaitée */
    height: 13vw; /* La hauteur s'ajustera automatiquement en conservant les proportions */
    border-radius: 50%; /* Applique une forme arrondie à l'image */
}


@keyframes smooth-appear {
    to{
      bottom: 20px;
      opacity:1;
    }
  }
  
.code {
    color:white;
    padding-bottom: 100px;
    position: fixed;
    bottom: -100%;
    opacity:0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    animation: smooth-appear 1s ease forwards;
  }

.twofactor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35%;
}

.twofactor_auth {
    display: flex;
    margin-right: 20px;
}
