@import './base.css';

#profile {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-weight: normal;
    background: hsla(0, 0%, 10%, 0.192);
}

.user_div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgba(103, 107, 126, 0.247);
    margin: 3%;
    border-radius: 0px 20px 20px 0px;
}

.user_left {
    display: grid;
    grid-column: 1;
    grid-template-rows: 1fr 3fr;
    background-color: rgba(51, 62, 158, 0.541);
}

.user_left_top {
    display: flex;
    grid-row: 1;
    background-color: rgba(50, 45, 116, 0.281);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(38, 33, 75);
    border-bottom: 3px solid rgba(23, 16, 87, 0.226);
}

.user_left_other {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr 5fr;
    background-color: rgba(144, 144, 158, 0.685);
}

.game_history {
    display: flex;
    grid-row: 1;
    background-color: rgb(20, 41, 177);
}

.lvl {
    display: flex;
    grid-row: 2;
    background-color: rgb(20, 41, 177);
}

.achievements {
    display: flex;
    grid-row: 3;
    background-color: rgb(20, 41, 177);
}

.game_history_button {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    background-color: rgba(159, 159, 180, 0.904);
    border-color: transparent;
    color: rgba(41, 40, 105, 0.685);
}

.game_history_button:hover {
    font-weight: bolder;
    background-color: rgba(125, 125, 173, 0.904);
}

.user_right {
    display: grid;

    grid-column: 2;
    grid-template-rows: 1fr 7fr;
    border-left: 3px solid rgba(4, 0, 255, 0.349);
}

.user_right_title {
    display: flex;
    grid-row: 1;
    background-color: rgba(30, 28, 124, 0.171);
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    font-size: 175%;
}

.game_history_div {
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.player_left {
    display: flex;
    grid-column: 1;
    flex-direction: column;
}

.players {
    display: flex;
    height: 15%;
    width: 100%;
    background-color: rgba(61, 43, 226, 0.151);
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(17, 0, 255, 0.151);
}

.game_history_vs {
    display: flex;
    grid-column: 2;
    flex-direction: column;
}

.player_right {
    display: flex;
    grid-column: 3;
    flex-direction: column;
}

.score {
    display: flex;
    grid-column: 4;
    flex-direction: column;
}

.victory {
    display: flex;
    grid-column: 5;
    flex-direction: column;
}

.vs {
    display: flex;
    height: 15%;
    width: 100%;
    background-color: rgba(61, 43, 226, 0.151);
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(17, 0, 255, 0.151);
    font-weight: bolder;
    font-size: 300%;
}
