@import './base.css';

.stat_div {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    border-radius: 20px 20px 20px 20px;
}

.stats_left {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 8fr;
    grid-column: 1;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(44, 29, 97);
}

.stats_right {
    display: grid;
    grid-column: 2;
    grid-template-rows: 1fr 7fr;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}

.stats_right_top {
    display: flex;
    grid-row: 1;
    color: rgb(197, 196, 196);
    justify-content: center;
    align-items: center;
    font-size: 200%;
    background-color: rgb(96, 80, 155);
    border-radius: 0px 10px 0px 0px;
}

.stats_right_bottom {
    display: flex;
    grid-row: 2;
    width: 100%;
    color: rgb(137, 170, 207);
    flex-direction: column;
    align-items: center;
    font-size: 120%;
    border-radius: 0px 20px 0px 0px;
}

.game_history_test {
    display: flex;
    grid-row: 2;
    background-color: transparent;
}

.lvl_test {
    display: flex;
    grid-row: 3;
    background-color: transparent;
}

.achievements_test {
    display: flex;
    grid-row: 4;
    background-color: transparent;
}

.game_history_button_test {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    border-color: transparent;
    color: rgb(142, 134, 167);
    background-color: transparent;
}

.game_history_button_test:hover {
    background-color: rgba(110, 103, 138, 0.637);
}

.game_history_div {
    display: grid;
    grid-template-columns: 15fr 1fr 4fr 1fr 15fr 1fr 15fr 1fr 15fr;
    grid-row: 2
}

.user_left {
    display: flex;
    grid-column: 1;
    flex-direction: column;
    align-items: center;
}

.vs {
    display: flex;
    grid-column: 3;
    flex-direction: column;
    align-items: center;
    color: black;
}

.user_right {
    display: flex;
    grid-column: 5;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    grid-column: 7;
    flex-direction: column;
    align-items: center;
}

.victory {
    display: flex;
    grid-column: 9;
    flex-direction: column;
    align-items: center;
}

.game_history_element {
    display: flex;
    margin-top: 1vh;
    font-size: 200%;
    color: rgb(223, 223, 255);
    height: 5vh;
}

.vs_element {
    display: flex;
    margin-top: 1vh;
    font-size: 200%;
    color: rgb(87, 86, 105);
    font-weight: bold;
    height: 5vh;
}

.achievements_div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 2;
    overflow-y: scroll;
}

.achievements_icon_div {
    display: flex;
    grid-column: 2;
    flex-direction: column;
    align-items: center;
}

.achievement_div {
    display: flex;
    grid-column: 1;
    flex-direction: column;
    align-items: center;
}

.achievement_icon {
    display: flex;
    width: 45%;
    border-radius: 50%;
    margin-top: 21%;
}

.achievement {
    display: flex;
    align-items: center;
    margin-top: 10%;
    font-size: 250%;
    color: rgba(220, 239, 245, 0.842);
}




.achiev_div {
    display: flex;
    grid-row: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.achiev_test {
    display: grid;
    height: 150px;
    grid-template-columns: 3fr 1fr;
    border-bottom: 2px solid rgb(42, 42, 49);
}

.ach_icon_div {
    display: flex;
    grid-column: 2;
    margin: 5px;
    width: 60%;
    justify-content: center;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
}

.ach_div {
    display: flex;
    grid-column: 1;
    font-size: 250%;
    justify-content: center;
    align-items: center;
    color: beige;
}

.ladder_element {
    display: flex;
    padding: 15px;
    width: 100%;
    flex-direction: row;
}

.ladder_element:hover {
    background: linear-gradient(90deg, transparent, rgb(71, 58, 119), transparent );
}

.ladder_me_element {
    display: flex;
    padding: 15px;
    width: 100%;
    flex-direction: row;
    background: linear-gradient(90deg, transparent, rgb(52, 45, 146), transparent );
}

.login_ladder {
    display: flex;
    align-self: center;
    margin-right: 20px;
}

.me_ladder {
    display: flex;
    align-self: center;
    margin-right: 20px;
    color: rgb(143, 110, 233);
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 350%;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg, rgb(163, 163, 163), blue, rgb(155, 106, 201), grey, rgb(25, 25, 124), rgb(155, 106, 201)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
