@import './base.css';

.stat_div {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    border-radius: 20px 20px 20px 20px;
}

.stats_left {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 8fr;
    grid-column: 1;
    background-color: rgba(0, 0, 255, 0);
    border-radius: 20px 0px 0px 20px;
}

.stats_right {
    display: grid;
    grid-column: 2;
    grid-template-rows: 1fr 7fr;
    background-color: rgba(32, 32, 32, 0.308);
    border-radius: 0px 20px 20px 0px;
}

.stats_right_top {
    display: flex;
    grid-row: 1;
    color: rgb(137, 170, 207);
    justify-content: center;
    align-items: center;
    font-size: 200%;
    background-color: rgb(34, 62, 114);
    border-radius: 0px 20px 0px 0px;
}

.game_history_test {
    display: flex;
    grid-row: 2;
    background-color: transparent;
}

.lvl_test {
    display: flex;
    grid-row: 3;
    background-color: transparent;
}

.achievements_test {
    display: flex;
    grid-row: 4;
    background-color: transparent;
}

.game_history_button_test {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    border-color: transparent;
    color: rgba(154, 179, 212, 0.685);
    background-color: transparent;
}

.game_history_button_test:hover {
    background-color: rgb(28, 46, 73);
}

.game_history_div {
    display: grid;
    grid-template-columns: 15fr 1fr 4fr 1fr 15fr 1fr 15fr 1fr 15fr;
    /* background-color: rgb(26, 26, 139); */
    grid-row: 2
}

.user_left {
    display: flex;
    /* background-color: rgb(77, 77, 187); */
    grid-column: 1;
    flex-direction: column;
    align-items: center;
}

.vs {
    display: flex;
    /* background-color: rgb(77, 77, 187); */
    grid-column: 3;
    flex-direction: column;
    align-items: center;
    color: black;
}

.user_right {
    display: flex;
    /* background-color: rgb(77, 77, 187); */
    grid-column: 5;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    /* background-color: rgb(77, 77, 187); */
    grid-column: 7;
    flex-direction: column;
    align-items: center;
}

.victory {
    display: flex;
    /* background-color: rgb(77, 77, 187); */
    grid-column: 9;
    flex-direction: column;
    align-items: center;
}

.game_history_element {
    display: flex;
    margin-top: 20%;
    font-size: 200%;
    color: rgb(223, 223, 255);
}

.vs_element {
    display: flex;
    margin-top: 75%;
    font-size: 200%;
    color: rgb(112, 135, 201);
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(3, 22, 39);
}

.achievements_div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* background-color: rgb(26, 26, 139); */
    grid-row: 2
}

.achievements_icon_div {
    display: flex;
    /* background-color: red; */
    grid-column: 2;
    flex-direction: column;
    align-items: center;
}

.achievement_div {
    display: flex;
    /* background-color: purple; */
    grid-column: 1;
    flex-direction: column;
    align-items: center;
}

.achievement_icon {
    display: flex;
    width: 45%;
    /* height: 70%; */
    border-radius: 50%;
    margin-top: 21%;
}

.achievement {
    display: flex;
    /* background-color: pink; */
    align-items: center;
    margin-top: 10%;
    font-size: 250%;
    color: rgba(220, 239, 245, 0.842);
}
